# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore environment file
.env

# Ignore IDE/editor folders
.vscode/
.idea/
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Flask instance folder
instance/

# Ignore testing and cache files
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.tox
